.gridIndex{
	display: grid;
	grid-template-areas: 
	"txtEnviosGratis txtEnviosGratis txtEnviosGratis"
	"header header header"
	"main main productos"
	"main main productos"
	"servicios servicios productos"
	"footer footer footer";
	grid-template-rows: 70px 300px 150px auto 400px 90px;
	grid-template-columns: auto auto auto;
	grid-row-gap:  10px;
	grid-column-gap: 10px;}





.txtEnviosGratis {grid-area:txtEnviosGratis;background-color: seagreen;}
header{grid-area: header;background-color: yellow;}
main{grid-area: main;
background-color: lightblue;}
.productos{grid-area:productos; background-color: purple;}
.servicios{grid-area: servicios;background-color: beige;}
footer{grid-area:footer;background-color: red;}
.border{border: solid 4px black;}