* {
  padding: 0;
  margin: 0; }

.gridIndex {
  display: grid;
  grid-template-areas: "txtEnviosGratis txtEnviosGratis txtEnviosGratis txtEnviosGratis" "header header header header" "imgPrincipalTitulo imgPrincipalTitulo imgPrincipalTitulo imgPrincipalTitulo" ". txtPrincipalTitulo txtPrincipalTitulo ." ". txtAbrigos imgAbrigos ." ". imgCamisas txtCamisas ." "bannerGafas  bannerGafas bannerGafas bannerGafas " ". txtChaquetas imgChaquetas ." ". imgConocenos txtConocenos ." "footer footer footer footer";
  grid-template-rows: auto auto auto auto auto auto auto auto auto auto;
  grid-template-columns: 10% 40% 40% 10%; }
  .gridIndex .txtEnviosGratis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000000;
    color: #ffffff;
    padding: 5px; }
  .gridIndex header {
    grid-area: header;
    display: grid;
    grid-template-areas: "logo myNav carrito--user";
    grid-template-columns: 15% 75% 10%;
    grid-template-rows: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffa500;
    padding: 10px; }
    .gridIndex header .logo {
      grid-area: logo;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .gridIndex header .logo img {
        width: 80%; }
    .gridIndex header .carrito--user {
      grid-area: carrito--user;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .gridIndex header .carrito--user img {
        width: 20%;
        justify-content: center; }
    .gridIndex header .myNav {
      grid-area: myNav;
      text-align: center; }
      .gridIndex header .myNav ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        column-gap: 30px;
        justify-content: center; }
        .gridIndex header .myNav ul a {
          text-decoration: none;
          list-style-type: none;
          color: #000000; }
          .gridIndex header .myNav ul a:hover {
            border-bottom: solid 1px white;
            color: #ffffff; }
  .gridIndex .txtEnviosGratis {
    grid-area: txtEnviosGratis; }
  .gridIndex .txtPrincipalTitulo {
    grid-area: txtPrincipalTitulo;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-bottom: 20px; }
  .gridIndex .imgPrincipalTitulo {
    grid-area: imgPrincipalTitulo;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    width: 100%; }
    .gridIndex .imgPrincipalTitulo img {
      width: 100%; }
    .gridIndex .imgPrincipalTitulo h1 {
      text-align: center;
      margin-top: 10px; }
  .gridIndex .txtAbrigos {
    grid-area: txtAbrigos;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center; }
  .gridIndex .imgAbrigos {
    grid-area: imgAbrigos;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px; }
    .gridIndex .imgAbrigos img {
      width: 90%; }
    .gridIndex .imgAbrigos button {
      width: 120px;
      height: 40px;
      text-align: center;
      margin-top: 10px;
      background-color: #000000;
      border-radius: 5px; }
      .gridIndex .imgAbrigos button a {
        text-decoration: none;
        color: #ffffff; }
  .gridIndex .bannerGafas {
    grid-area: bannerGafas;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .gridIndex .bannerGafas img {
      width: 100%; }
    .gridIndex .bannerGafas h2 {
      text-align: center;
      margin-top: 20px; }
    .gridIndex .bannerGafas p {
      text-align: center; }
  .gridIndex .txtCamisas {
    grid-area: txtCamisas;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    margin-left: 100px; }
  .gridIndex .imgCamisas {
    grid-area: imgCamisas;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    align-self: center;
    text-align: center; }
    .gridIndex .imgCamisas img {
      width: 100%; }
    .gridIndex .imgCamisas button {
      width: 120px;
      height: 40px;
      text-align: center;
      margin-top: 10px;
      background-color: #000000;
      border-radius: 5px; }
      .gridIndex .imgCamisas button a {
        text-decoration: none;
        color: #ffffff; }
  .gridIndex .txtChaquetas {
    grid-area: txtChaquetas;
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center; }
  .gridIndex .imgChaquetas {
    grid-area: imgChaquetas;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-top: 20px; }
    .gridIndex .imgChaquetas img {
      width: 100%; }
    .gridIndex .imgChaquetas h3 {
      text-align: center; }
    .gridIndex .imgChaquetas button {
      width: 120px;
      height: 40px;
      text-align: center;
      margin-top: 10px;
      background-color: #000000;
      border-radius: 5px; }
      .gridIndex .imgChaquetas button a {
        text-decoration: none;
        color: #ffffff; }
  .gridIndex .imgConocenos {
    grid-area: imgConocenos; }
    .gridIndex .imgConocenos img {
      width: 100%; }
  .gridIndex .txtConocenos {
    grid-area: txtConocenos;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 20px; }
    .gridIndex .txtConocenos button {
      width: 120px;
      height: 40px;
      text-align: center;
      margin-top: 10px;
      background-color: #000000;
      border-radius: 5px; }
      .gridIndex .txtConocenos button a {
        text-decoration: none;
        color: #ffffff; }
  .gridIndex footer {
    grid-area: footer;
    justify-content: space-between;
    margin-top: 40px;
    padding-top: 20px;
    display: grid;
    grid-template-areas: "quicklinks suscribete sigueme logo" "quicklinks  faq metodoPago logo";
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 15% 25% 25% 15%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    background-color: #ffa500; }
    .gridIndex footer .quicklinks {
      grid-area: quicklinks;
      display: flex;
      flex-direction: column;
      text-align: center; }
      .gridIndex footer .quicklinks ul li a {
        text-decoration: none;
        color: #000000; }
    .gridIndex footer .faq {
      grid-area: faq;
      display: flex;
      flex-direction: row;
      justify-content: center; }
      .gridIndex footer .faq a {
        text-decoration: none;
        color: #000000; }
    .gridIndex footer .logo {
      grid-area: logo;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .gridIndex footer .logo img {
        width: 70%; }
    .gridIndex footer .suscribete {
      grid-area: suscribete;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .gridIndex footer .suscribete form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
      .gridIndex footer .suscribete #inputemail {
        display: flex;
        flex-direction: row;
        width: 80%;
        padding: 1%;
        border-radius: 5px; }
      .gridIndex footer .suscribete #inputbutton {
        display: flex;
        flex-direction: row;
        width: 30%;
        padding: 1%;
        justify-content: center;
        margin-left: 10px;
        background-color: #000000;
        color: #ffffff;
        border-radius: 5px; }
      .gridIndex footer .suscribete img {
        width: 10%;
        align-content: center;
        margin-right: 10px; }
      .gridIndex footer .suscribete form {
        justify-items: center; }
    .gridIndex footer .sigueme {
      grid-area: sigueme;
      text-align: center; }
      .gridIndex footer .sigueme img {
        width: 30px;
        height: 30px;
        margin-top: 10px; }
    .gridIndex footer .metodoPago {
      grid-area: metodoPago;
      text-align: center; }
      .gridIndex footer .metodoPago img {
        width: 30px;
        height: 30px;
        margin-top: 10px; }
