//paleta de colores//
$colorPrimario:#011627;
$bgHeader:#ffa500;
$bgFooter:#ffa500;
$bgSecundario:#adff2f;
$colorSecundario:#ff0000;
$colorButton:#000000;
$colorTxt:#ffffff;
$colorTxtN:#000000;
$bgBlack:#000000;